/*
* FRAMEWORK MAIN STYLE
*/

body{
    font-family:sans-serif;
}


/*
* Messages
*/
/* Information */
.fw_msg_info{
    padding:5px;
    margin:5px;
    border:1px solid #4B5686;
    background-color:#BBCEFF;
}

/* Error */
.fw_msg_error{
    padding:5px;
    margin:5px;
    padding:5px;
    border:1px solid #510000;
    background-color:#FFBBBB;
}

/* Warning */
.fw_msg_warn{
    padding:5px;
    margin:5px;
    padding:5px;
    border:1px solid #5B521A;
    background-color:#F8FFB4;
}
